footer {
  background-color: #000000;
  color: white !important;
  padding: 30px 0;

  .patron-img {
    max-height: 60px;
    max-width: 250px;
  }

  #copyright {
    font-size: 13px;
    font-weight: 200;
    padding: 20px 0;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 0.5px solid gray;
  }

  p {
    font-size: 16px;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
    &.nav-list {
      margin-bottom: 28px;
    }
    &.social-list {
      float: right;
    }
    > li,
    li > a {
      margin-top: 12px;
      color: white;
      font-size: 13px;
      font-weight: 200;
      &.social-icon {
        font-size: 18px;
        margin-right: 20px;
        text-decoration: none;
        > svg {
          height: 25px;
        }
      }
      > a {
        &:hover {
          color: white;
        }
      }
    }
  }
}
