.navbar-nav {
  padding: 15px 0px;
}

.nav-link-black,
.nav-link-black > a {
  color: black !important;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}

#brand-logo {
  height: 60px;
  width: auto;
}
