@import "./search.scss";

.navbar {
  -webkit-box-shadow: 0px 4px 9px -6px #999;
  -moz-box-shadow: 0px 4px 9px -6px #999;
  box-shadow: 0px 4px 9px -6px #999;
}

.navbar-nav {
  padding: 15px 0px;
}

.nav-link-black,
.nav-link-black > a {
  color: black !important;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}

#brand-logo {
  height: 60px;
  width: auto;
}
