body {
  font-family: "Montserrat";
}

.page-padding {
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 1200px) {
  .page-padding {
    padding-left: 100px;
    padding-right: 100px;
  }
}
