@import "./shared.scss";

body {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1200px) {
  .page-padding {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1920px;
  }
}

.page-content {
  overflow-wrap: break-word;
}

h1 {
  font-size: 30px;
}
