#liga-table {
  tbody {
    th,
    td {
      padding: 35px 0.75rem;
    }
  }
}

.league-stat-container {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.league-stat-header {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0;
}

.league-stat {
  font-weight: bold;
  font-size: 19px;
}

.roe-chart {
  padding: 0 !important;
  vertical-align: middle;
  canvas {
    width: 300px !important;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 998;
}

.modal-content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
  overflow: scroll;
  width: 90%;
  max-width: 1200px;
  max-height: 700px;
  padding: 30px;
}

.league-link-container {
  margin-top: 12px;
  margin-bottom: 12px;
}

.input-with-title {
  margin-bottom: 12px;
  p,
  label {
    color: gray;
    margin-bottom: 2px;
  }

  .Dropdown-root {
    width: 80%;
  }

  .form-check-input {
    position: relative;
    margin-left: 0;
    margin-right: 5px;
  }

  input {
    color: #333;
    padding: 8px 52px 8px 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    &.textbox {
      width: 80%;
    }
    &:focus {
      outline: none;
    }
  }
}

.form-submit-button {
  padding: 8px 40px;
  color: white;
  font-weight: bold;
  background: rebeccapurple;
  font-size: 16px;
  border-radius: 28px;
  &:focus {
    outline: none;
  }
  &:disabled {
    background: gray;
  }
}

.formErrors {
  li {
    color: red;
  }
}

.join-league-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.api-message-success {
  padding: 8px;
  background-color: #daf4e6;
  text-decoration: underline;
}

.api-message-error {
  padding: 8px;
  background-color: #fde3e1;
  text-decoration: underline;
}
