.ladder-user-0 {
  font-size: 32px;
  font-weight: bold;
  padding: 8px;
}

.ladder-user-1 {
  font-size: 30px;
  padding: 8px;
  font-weight: bold;
}

.ladder-user-2 {
  font-size: 28px;
  font-weight: bold;
  padding: 8px;
}
