#liga-table {
  tbody {
    th,
    td {
      padding: 35px 0.75rem;
    }
  }
}

.league-stat-container {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.league-stat-header {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0;
}

.league-stat {
  font-weight: bold;
  font-size: 19px;
}

.roe-chart {
  padding: 0 !important;
  vertical-align: middle;
  canvas {
    width: 300px !important;
  }
}
