/* Style the input container */
.input-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: #fcfcfc;
  height: 38px;
  align-items: center;
}

/* Style the form icons */
.icon {
  color: black;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  background: none;
}

.search-result-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 998;
}

.search-result-container {
  position: fixed;
  padding: 10px;
  top: 85px;
  right: 0;
  width: 100%;
  max-height: 70%;
  background-color: #fcfcfc;
  border: 1px solid #efefef;
  border-radius: 4px;
  overflow: scroll;
  .search-all {
    color: black;
    font-size: 18px;
    margin-top: 10px;
    float: right;
  }
  .search-result-header-container {
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-input-field {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      outline: none;
      border: none;
      background: none;
    }
  }
  .result-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    .result {
      margin-top: 2px;
      color: black;
      font-size: 16px;
    }
  }
  .search-category-tag {
    h5 {
      font-size: 16px;
      color: #404040;
    }
    .search-category-tag-flex-container {
      display: flex;
      .category-tag {
        > .icon {
          color: #404040;
          margin-right: 4px;
        }
        margin-right: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  .search-result-container {
    padding: 20px 80px;
  }
}
