.underlined-black-text {
  text-decoration: underline;
  color: black;
  font-size: 13px;
}

a {
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.black-bg {
  background-color: black;
}

.white-text {
  color: white !important;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.center-margin {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.time-and-author {
  font-size: 13px;
}

.margin-bottom-base {
  margin-bottom: 8px;
}

.margin-top-base {
  margin-top: 8px;
}

.border-grey-bottom {
  border-bottom: 1px solid #70707025;
}

.border-grey-bottom-dotted {
  border-bottom: 2px dotted #70707025;
}

.article-padding {
  padding: 12px 0;
}

.section-margin-and-padding {
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

.no-border {
  border: none !important;
}

.color-green {
  font-weight: bold;
  color: green;
}

.color-red {
  font-weight: bold;
  color: red;
}
