#index-main-article {
  .title {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  .description {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .time-and-author {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .index-article-content {
    overflow: hidden;
  }
  .index-article-content img {
    display: none;
  }
}
