.section {
  .section-title-container {
    margin-top: 24px;
    .section-title {
      font-size: 24px;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.flex-telegram-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px !important;
}

@media (max-width: 768px) {
  .flex-telegram-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px !important;
  }

  .flex-telegram-container {
    &.aligned-left {
      justify-content: flex-start;
    }

    &.aligned-right {
      justify-content: flex-end;
    }
  }
}
