.section {
  .section-title-container {
    margin-top: 24px;
    .section-title {
      font-size: 24px;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.flex-telegram-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  padding-right: 2px;
}
