.index-right-article {
  .title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3e3a71;
  }
  .description {
    font-size: 12px;
    margin-bottom: 4px;
  }
}
