.index-left-article {
  border-bottom: 1px solid #70707025;
  .link-title {
    font-size: 22px;
    font-weight: bold;
    color: black;
  }
  .description {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .upper-text-container {
    margin-top: 4px;
    margin-bottom: 4px;
    .upper-text-note {
      font-size: 13px;
    }
  }
}

.index-article-image {
  height: 250px;
}
