#article-slideshow {
  height: 350px;
  color: white;
  position: relative;

  > div {
    height: 100%;
    > .carousel {
      height: 100%;
      .slider-wrapper {
        height: 100%;
        .container-fluid,
        .row,
        .slide-content-container,
        .slider {
          height: 100%;
        }
      }
      .slide {
        height: 100%;

        background-color: transparent;
        text-align: unset;
      }
    }
  }

  .bg {
    &:before {
      content: "\A";
      position: absolute;
      background: black;
      top: 0;
      right: 0;
      left: 0;
      height: 280px;
      z-index: -999;
    }
  }

  .slide-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
    .link-title {
      font-size: 26px;
    }
    .description {
      font-size: 13px;
      color: #efefef;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 2.6em;
      line-height: 1.3em;
    }
    .time-and-author,
    .time-and-author-link {
      color: #858d9d;
    }
    .slide-category {
      font-size: 13px;
      padding: 5px 10px;
      align-self: flex-start;
      background-color: #ee4439;
    }
  }

  .slide-image-container {
    height: 100%;
    .slide-image {
      height: 85%;
      margin-top: 5%;
    }
  }
}
