#article-slideshow {
  height: 520px;
  color: white;
  position: relative;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 350px;

    .slide-content-container {
      .link-title {
        font-size: 26px !important;
      }
    }
    .bg {
      &:before {
        height: 280px !important;
      }
    }

    .slide-image-container {
      height: 100%;
      .slide-image {
        height: 85%;
        margin-top: 5%;
        margin-bottom: 0;
      }
    }

    .slick-dots {
      bottom: 30px;
      width: auto;
    }

    .slick-slider,
    .slick-slide,
    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-slide {
      > div,
      .container-fluid,
      .row,
      .slide-content-container,
      .slider {
        height: 100%;
      }
    }
  }

  .bg {
    &:before {
      content: "\A";
      position: absolute;
      background: black;
      top: 0;
      right: 0;
      left: 0;
      height: 85%;
      z-index: -999;
    }
  }

  .slide-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
    .link-title {
      font-size: 20px;
    }
    .description {
      font-size: 13px;
      color: #efefef;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 2.6em;
      line-height: 1.3em;
    }
    .time-and-author,
    .time-and-author-link {
      color: #858d9d;
    }
    .slide-category {
      font-size: 13px;
      padding: 5px 10px;
      align-self: flex-start;
      background-color: #ee4439;
    }
  }

  .slick-slide.slick-active.slick-current {
    z-index: 1000;
  }

  .slide-image {
    height: 250px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
