@import "../../../node_modules/tocbot/src/scss/tocbot-core";

#article-title {
  font-size: 30px;
  font-weight: bold;
  margin: 18px 0;
}

#article-content {
  margin-bottom: 20px;
}

// @media (min-width: 768px) {
//   #article-content {
//     padding-left: 60px;
//     padding-right: 60px;
//   }
// }

// @media (min-width: 1200px) {
//   #article-content {
//     padding-left: 10px;
//     padding-right: 120px;
//   }
// }

.article-meta-container {
  display: inline-flex;
  flex-wrap: wrap;
  .article-meta {
    color: black;
    margin-right: 24px;
    font-size: 13px;
    > a {
      color: black;
      font-size: 13px;
    }
  }
}

.article-toc {
  position: sticky;
  top: 100px;
  display: grid;
  margin-top: 20px;
  ol {
    list-style-type: none;
  }
  .toc-list-item {
    margin-top: 2px;
    border-radius: 6px;
    color: black;
    padding: 10px;
    a:hover {
      text-decoration: none;
    }
    &.is-active-li,
    &:hover {
      color: white;
      background-color: blue;
    }
  }
}

.article-metadata {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #858d9d10;
  h5 {
    border-bottom: 1px solid #858d9d2c;
    padding-bottom: 12px;
    padding-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .meta-container {
    margin-bottom: 12px;
    .meta-title {
      font-weight: bold;
      font-size: 16px;
    }
    .meta-value {
      font-size: 14px;
    }
  }
}
