@import "../../../node_modules/tocbot/src/scss/tocbot-core";

#article-title {
  font-size: 30px;
  font-weight: bold;
  margin: 18px 0;
}

#article-content {
  margin-bottom: 20px;
}

.index-article-image-big {
  max-height: 450px;
}

.article-meta-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  .article-meta {
    color: black;
    margin-right: 24px;
    font-size: 13px;
    margin-bottom: 0;
    padding: 8px;
    button {
      background: white;
      border: none;
      outline: none;
      padding: 3px;
    }
    &.share {
      padding: 5px;
      &.share-expanded {
        transition: all 300ms ease-in-out;
        background-color: #efefef;
        border-radius: 40px;
        > button {
          padding: 6px 10px;
          border-radius: 20px;
        }
      }
    }
    > a {
      color: black;
      font-size: 13px;
    }
  }
}

.article-toc {
  position: sticky;
  top: 100px;
  display: grid;
  margin-top: 20px;
  ol {
    list-style-type: none;
  }
  .toc-list-item {
    margin-top: 2px;
    border-radius: 6px;
    color: black;
    padding: 10px;
    a:hover {
      text-decoration: none;
    }
    &.is-active-li,
    &:hover {
      color: white;
      background-color: blue;
    }
  }
}

.article-metadata {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #858d9d10;
  h5 {
    border-bottom: 1px solid #858d9d2c;
    padding-bottom: 12px;
    padding-top: 8px;
    margin-bottom: 16px;
    font-size: 18px;
  }
  .meta-container {
    margin-bottom: 12px;
    .meta-title {
      font-weight: bold;
      font-size: 16px;
    }
    .meta-value {
      font-size: 14px;
    }
  }
}

.post-social {
  display: inline-flex;
  .button {
    outline: none;
    border-radius: 10px;
    padding: 3px 6px;
    margin-right: 2px;
    color: black;
    cursor: pointer;
  }
}
