.container3 {
    margin-top: 15px;
    margin-bottom: 30px;

    .title {
        font-weight: bold
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .call-to-action {
        font-weight: bold;
        font-size: 18px;
    }
}